* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 80px;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  font-weight: 600;
  z-index: 1;
}

h1::before,
h1::after {
  content: "";
  padding: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%) rotate(0);
  animation: spin 6s alternate infinite ease-in-out;
}

h1::before {
  border-top: 15px solid #ff126d;
  border-left: 15px solid #ff126d;
}
h1::after {
  border-bottom: 15px solid #ff126d;
  border-right: 15px solid #ff126d;
  z-index: -1;
}
@keyframes spin {
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
